<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    <script src="/scripts/main.js"></script>
    <title>Collaboritor</title>
</head>
<body>
    <header>
        <img src="/img/logo.webp" alt="Collaboritor logo"/>
        <h1>Collaboritor</h1>
        <button type="button" onclick="onRunCode()">
            <span>Készen vagyunk, fuss!</span>
            <img src="/img/run.svg" alt="Run">
        </button>
    </header>
    <textarea id="code-editor-area" class="code-editor-area" rows="20" cols="100"></textarea>
</body>
</html>
